.section {
  margin: 150px 0;
  display: flex;
  gap: 20px;
}

.title {
  font-size: 35px;
  font-weight: 400;
  font-family: var(--font-italianno);
  margin-bottom: 25px;

  position: relative;
}

.title:after {
  position: absolute;
  content: "";
  width: 103px;
  height: 1px;
  background-color: var(--color-underline);
  bottom: -3px;
  left: 0;
}

.discription {
  font-size: 14px;
  font-family: var(--font-manrope);
  margin-bottom: 20px;
}

.discription:last-child {
  margin-bottom: 0px;
}
