.list {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.list-item {
  display: flex;
  flex-direction: row;
  gap: 22px;
  height: 274px;

  position: relative;
}

.list-item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.list-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -35px;
  background-color: var(--color-underline);
}

.content-wrapper {
  width: 540px;
  padding: 36px 0;
  overflow: hidden;
}

.image-wrapper {
  width: 538px;
  height: 274px;
  position: relative;
}

.title {
  font-weight: 400;
  font-size: 45px;
  font-family: var(--font-italianno);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;

  margin-bottom: 8px;
}

.title-mob {
  display: none;
}

.description {
  font-size: 14px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  border: 2px solid var(--color-underline);
  background-color: white;
  border-radius: 3px;
  padding: 15px 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 83px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--color-underline);
  color: white;
}

@media screen and (max-width: 767px) {
  .list {
    gap: 30px;
  }

  .list-item {
    flex-direction: column;
    gap: 10px;
    height: 324px;
    box-sizing: border-box;
  }

  .image-wrapper {
    width: 100vh;
    height: 200px;
  }

  .title-mob {
    display: block;
    font-weight: 400;
    font-size: 28px;
    font-family: var(--font-italianno);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    order: 0;
  }

  .description {
    -webkit-line-clamp: 5;
  }

  .title {
    display: none;
  }

  .list-item:nth-child(2n + 1) {
    flex-direction: column;
  }

  .content-wrapper {
    padding: 0;
    width: 100%;
    padding: 0 10px;

    order: 1;
  }

  .list-item:not(:last-child)::after {
    width: 96%;
    height: 1px;
    bottom: -15px;
    right: 10px;
    background-color: var(--color-underline);
  }

  .button {
    margin-top: 30px;
    padding: 10px 80px;
  }
}
